<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-2.5.xsd"
    default-autowire="byName">


    <!-- 配置connectionFactory -->
    <bean id="jmsFactory" class="org.apache.activemq.pool.PooledConnectionFactory"
        destroy-method="stop">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL">
                    <value>${activemq.url}</value>
                    <!--<value>tcp://192.168.0.160:61616</value>-->
                </property>
                <property name="userName">
                    <value>${activemq.user}</value>
                </property>
                <property name="password">
                    <value>${activemq.password}</value>
                </property>
            </bean>
        </property>
        <property name="maxConnections" value="100"></property>
    </bean>

    <!-- Spring JMS Template -->
    
	<!--这个是主题目的地，一对多的-->  
	<bean id="topicDestination" class="org.apache.activemq.command.ActiveMQTopic">  
	    <constructor-arg value="${mq.topick}"/>
	</bean>
	
    <!-- <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">   -->
    <!-- 这个connectionFactory对应的是我们定义的Spring提供的那个ConnectionFactory对象 -->  
    	<!-- <property name="connectionFactory" ref="jmsFactory"/> 
        <property name="defaultDestination" ref="topicDestination" />  --> 
        <!-- 订阅发布模式 -->  
        <!-- <property name="pubSubDomain" value="true" />  
        <property name="receiveTimeout" value="10000" />   
	</bean> -->

	<!--发送消息的目的地（一个队列） -->
<!-- 	<bean id="destination" class="org.apache.activemq.command.ActiveMQQueue">  
	    <constructor-arg>  
	        <value>litao</value>  
	    </constructor-arg>  
	</bean>   -->

 	<!-- 消息监听器 -->  
 	<bean id="consumerMessageListener" class="com.wasu.game.activeMQ.listener.Responselistener"/>
	
	<!-- 消息监听容器 -->  
 	<bean id="jmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">  
		<property name="connectionFactory" ref="jmsFactory" />  
	    <property name="destination" ref="topicDestination" /> 
	    <!-- 发布订阅模式   -->
        <property name="pubSubDomain" value="true"/>
	    <property name="messageListener" ref="consumerMessageListener" />  
	   <!--  选择器 -->
	    <property name="messageSelector" value="JMSType='RADIATE'" />
        <!-- <property name="cacheLevel" value="2"/> -->
	</bean>    
    
</beans>